
.add-left-side-drawing-board-controls() { 
   
  .left.drawing-board-controls {
    margin-left:-51px;
    display:block;
   
    .drawing-board-control {
      display:block;
      text-align:right;
   
      &.drawing-board-control-drawingmode {
        button {
          //margin:2px auto;
          display:block;
          float:right;
          clear:right; 
          margin-right:0px;
        }
      }
   
      button {
        outline:0;
        height:50px;
        font-size:18px;
        margin-top:2px;
        width:50px;
        border-radius:50%;
        //width:100%;
      }
    }
  }
}  


