
.ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-select-none() {
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.full-container() {
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
}

