
.ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-select-none() {
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}


@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }
 
  25%, 75% {
    opacity: 0;
  }
}
 
.flash() {
  animation-name: flash;
}


